## cycle check

In [1]:
import pandas as pd
import numpy as np
import scipy
import os
import os.path
from matplotlib import cm
from IPython.display import display, HTML

import matplotlib
%matplotlib inline
%config InlineBackend.figure_format = 'retina' 
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.dates as mdates
import calendar

In [2]:
df = pd.read_csv("Data/ava.csv").drop(["Unnamed: 0"], axis = 1)

In [3]:
user = 402
cycle =1
df[(df.user == user) & (df.cycle_number == cycle)]

,user,first_date,last_date,cycle_number,cycle_length,date,cycle_day,skin_temperature,hr,br
338,402,2016-09-15,2016-10-12,1,28,2016-09-15,1,35.640000,53.345553,14.539836
339,402,2016-09-15,2016-10-12,1,28,2016-09-16,2,35.150000,50.411077,13.790429
340,402,2016-09-15,2016-10-12,1,28,2016-09-17,3,35.340000,52.030107,14.134274
341,402,2016-09-15,2016-10-12,1,28,2016-09-18,4,34.930000,53.574771,13.582430
342,402,2016-09-15,2016-10-12,1,28,2016-09-18,4,34.930000,53.574771,13.582430
343,402,2016-09-15,2016-10-12,1,28,2016-09-18,4,NaN,NaN,NaN
344,402,2016-09-15,2016-10-12,1,28,2016-09-18,4,NaN,NaN,NaN
345,402,2016-09-15,2016-10-12,1,28,2016-09-19,5,34.930000,52.308179,13.889421
346,402,2016-09-15,2016-10-12,1,28,2016-09-20,6,34.930000,51.799469,14.247599
347,402,2016-09-15,2016-10-12,1,28,2016-09-21,7,34.930000,51.324530,13.932841
348,402,2016-09-15,2016-10-12,1,28,2016-09-22,8,35.094030,54.078035,14.292204
349,402,2016-09-15,2016-10-12,1,28,2016-09-23,9,35.011052,52.566277,14.192620
350,402,2016-09-15,2016-10-12,1,28,2016-09-24,10,34.968471,53.868969,14.025020
351,402,2016-09-15,2016-10-12,1,28,2016-09-25,11,34.787953,53.168834,13.808140
352,402,2016-09-15,2016-10-12,1,28,2016-09-26,12,34.699581,54.439315,13.957631
353,402,2016-09-15,2016-10-12,1,28,2016-09-27,13,34.881664,56.163623,14.088618
354,402,2016-09-15,2016-10-12,1,28,2016-09-28,14,35.166882,56.878666,14.351489
355,402,2016-09-15,2016-10-12,1,28,2016-09-29,15,35.222380,57.599928,14.321447
356,402,2016-09-15,2016-10-12,1,28,2016-09-30,16,35.350340,59.464967,14.465089
357,402,2016-09-15,2016-10-12,1,28,2016-10-01,17,35.540588,60.198770,14.497148
358,402,2016-09-15,2016-10-12,1,28,2016-10-02,18,35.615224,59.543345,14.419103
359,402,2016-09-15,2016-10-12,1,28,2016-10-03,19,35.714117,60.435057,14.357895
360,402,2016-09-15,2016-10-12,1,28,2016-10-04,20,35.663174,60.022010,14.306340
361,402,2016-09-15,2016-10-12,1,28,2016-10-05,21,35.612646,60.303285,14.296053
362,402,2016-09-15,2016-10-12,1,28,2016-10-06,22,35.648453,60.229863,14.228158
363,402,2016-09-15,2016-10-12,1,28,2016-10-08,24,35.673230,60.112321,14.427313
364,402,2016-09-15,2016-10-12,1,28,2016-10-09,25,35.632512,60.189016,14.602733
365,402,2016-09-15,2016-10-12,1,28,2016-10-10,26,35.649135,61.060297,14.933351
366,402,2016-09-15,2016-10-12,1,28,2016-10-11,27,35.714494,59.808891,15.065701