In [164]:
import pandas as pd
import numpy as np
import scipy
import os
import os.path
from matplotlib import cm
from IPython.display import display, HTML

import matplotlib
%matplotlib inline
%config InlineBackend.figure_format = 'retina' 
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.dates as mdates
import calendar

df = pd.read_csv("Data/ava.csv")

In [165]:
df = df.drop(["Unnamed: 0"], axis = 1)
df.head()

,user,first_date,last_date,cycle_number,cycle_length,date,cycle_day,skin_temperature,hr,br
0,359,2016-11-12,2016-12-06,1,25,2016-11-12,1,36.11,68.375941,16.081958
1,359,2016-11-12,2016-12-06,1,25,2016-11-13,2,35.70,67.499289,15.681856
2,359,2016-11-12,2016-12-06,1,25,2016-11-14,3,35.38,63.632920,15.381588
3,359,2016-11-12,2016-12-06,1,25,2016-11-15,4,35.64,66.366427,15.448914
4,359,2016-11-12,2016-12-06,1,25,2016-11-16,5,35.87,66.680990,15.823407

In [166]:
#Create a new function:
def num_missing(x):
    return sum(x.isnull())

#Applying per column:
print("Missing values per column:")
print(df.apply(num_missing, axis=0)) #axis=0 defines that function is to be applied on each column

#Applying per row:
#print("\nMissing values per row:")
#print(df.apply(num_missing, axis=1).head()) #axis=1 defines that function is to be applied on each row

Missing values per column:
user                 0
first_date           0
last_date            0
cycle_number         0
cycle_length         0
date                 0
cycle_day            0
skin_temperature    16
hr                  16
br                   9
dtype: int64

### work only without NaNs

In [167]:
df = df.dropna(axis=0, how='all')

### normalisation of features

In [168]:
df["st_norm"] = (df["skin_temperature"]-df["skin_temperature"].mean())\
    /df["skin_temperature"].std()

In [169]:
df["hr_norm"] = (df["hr"]-df["hr"].mean())\
                    /df["hr"].std()

In [170]:
df["br_norm"] = (df["br"]-df["br"].mean())\
                    /df["br"].std()

In [171]:
### min and max of one cycle

In [172]:
print("number of users: ", len(df["user"].unique()))
print("number of cycles: ", len(df.groupby(["user","cycle_number"]).describe()))

number of users:  180
number of cycles:  792

data.loc[(data["Gender"]=="Female") & (data["Education"]=="Not Graduate") & (data["Loan_Status"]=="Y"), ["Gender","Education","Loan_Status"]]

In [204]:
print("unique cycle lengths: ", sorted(df["cycle_length"].unique()))
print("number of unique cycle lengths: ", len(df["cycle_length"].unique()))
print()
print("regular cycle lengths between 20 and 36 days")

unique cycle lengths:  [11, 12, 13, 14, 15, 16, 17, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 47, 48, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 73, 92, 98, 107, 112, 123, 124, 167, 228, 245, 300]
number of unique cycle lengths:  59

regular cycle lengths between 20 and 36 days

### Dataframe with cycles of regular length only

In [205]:
df_regLen = df.loc[(df.cycle_length >= 20)&(df.cycle_length <= 36)]
print("unique cycle lengths in regular df: ", sorted(df_regLen["cycle_length"].unique()))
print("number of cycles in regular df: ", len(df_regLen.groupby(["user","cycle_number"]).describe()))

unique cycle lengths in regular df:  [21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36]
number of cycles in regular df:  717

### Dataframe with cycles of regular length only and without missing days

(if cycle_length value > count of cycle_days in one cycle)

In [206]:
groupby_cycles = df_regLen.groupby(["user","cycle_number"]).describe()

In [207]:
groupby_cycles = pd.DataFrame(groupby_cycles[["cycle_day", "cycle_length"]]).reset_index()

In [208]:
print("number of incomplete cycles (with missing days): ", len(groupby_cycles[groupby_cycles.cycle_day["count"] != groupby_cycles.cycle_length["mean"]]))

number of incomplete cycles (with missing days):  542

In [209]:
print("number of complete cycles (without missing days): ",len(groupby_cycles[groupby_cycles.cycle_day["count"] == groupby_cycles.cycle_length["mean"]]))
print("number users with complete cycles: ",len(groupby_cycles[groupby_cycles.cycle_day["count"] == groupby_cycles.cycle_length["mean"]]))

number of complete cycles (without missing days):  175
number users with complete cycles:  175

In [210]:
index_completeCycles = groupby_cycles[groupby_cycles.cycle_day["count"] == groupby_cycles.cycle_length["mean"]].index
gold_df = groupby_cycles.iloc[index_completeCycles][["user", "cycle_number"]]

# user and users cycles with complete data and regular cycle length
print(gold_df.user.values)
print(len(gold_df.user.unique()))

[  360   360   406   406   406   406   406   406   407   407   407   407
   407   407   411   411   411   411   411   417   417   417   417   417
   418   418   418   418   423   423   423   423   427   427   427   436
   436   447   466   466   466   487   500   500   500   500   513   513
   513   513   513   827   827   827   827   827   912   912   917   939
   939   950   950  1316  1320  2559  2559  2560  2741  2741  2746  2746
  2760  2760  2760  2767  2768  2787  2787  2787  2787  2787  3775  3775
  3775  3994  3994  4001  4025  4039  4039  4039  4055  4057  4070  4070
  4070  4070  4070  4070  4070  4070  4569  4569  4569  4569  4570  4577
  4587  4587  4872  4874  4874  4881  4881  4881  4919  4925  4925  4927
  4927  4930  4930  4940  4940  4940  4940  4942  4942  4942  4942  5184
  5200  5200  5203  5206  5206  5213  5214  5214  5214  5214  5448  5448
  5448  5533  5539  5539  5547  5547  5556  5559  5559  5559  5560  5792
  7959  8976 13849 14026 14027 14027 14027 14032 14032 14057 14059 14059
 14059 15103 15116 15556 15568 17379 19278]
78

In [217]:
# time series data frame with complete cycles and regular length
gold = pd.DataFrame()
for user in np.unique(gold_df.user.values):
    for cycle in gold_df[gold_df.user == user].cycle_number.values:
        #print("user: ", user)
        #print("cycle: ", cycle)
        gold = gold.append(df_regLen[(df_regLen["user"] == user)&(df_regLen["cycle_number"] == cycle)])
        #print(gold[["user", "cycle_number", "date"]])

In [212]:
gold2 = gold.reset_index()

In [213]:
#gold2["cycle_index"]

In [218]:
gold.to_csv("Data/data_clean.csv")

In [215]:
print(gold[gold.user == 360])

     user  first_date   last_date  cycle_number  cycle_length        date  \
56    360  2016-09-08  2016-10-11             1            34  2016-09-08
57    360  2016-09-08  2016-10-11             1            34  2016-09-09
58    360  2016-09-08  2016-10-11             1            34  2016-09-10
59    360  2016-09-08  2016-10-11             1            34  2016-09-11
60    360  2016-09-08  2016-10-11             1            34  2016-09-12
61    360  2016-09-08  2016-10-11             1            34  2016-09-13
62    360  2016-09-08  2016-10-11             1            34  2016-09-14
63    360  2016-09-08  2016-10-11             1            34  2016-09-15
64    360  2016-09-08  2016-10-11             1            34  2016-09-16
65    360  2016-09-08  2016-10-11             1            34  2016-09-17
66    360  2016-09-08  2016-10-11             1            34  2016-09-18
67    360  2016-09-08  2016-10-11             1            34  2016-09-19
68    360  2016-09-08  2016-10-11             1            34  2016-09-20
69    360  2016-09-08  2016-10-11             1            34  2016-09-21
70    360  2016-09-08  2016-10-11             1            34  2016-09-22
71    360  2016-09-08  2016-10-11             1            34  2016-09-23
72    360  2016-09-08  2016-10-11             1            34  2016-09-24
73    360  2016-09-08  2016-10-11             1            34  2016-09-25
74    360  2016-09-08  2016-10-11             1            34  2016-09-26
75    360  2016-09-08  2016-10-11             1            34  2016-09-27
76    360  2016-09-08  2016-10-11             1            34  2016-09-28
77    360  2016-09-08  2016-10-11             1            34  2016-09-29
78    360  2016-09-08  2016-10-11             1            34  2016-09-30
79    360  2016-09-08  2016-10-11             1            34  2016-10-01
80    360  2016-09-08  2016-10-11             1            34  2016-10-02
81    360  2016-09-08  2016-10-11             1            34  2016-10-03
82    360  2016-09-08  2016-10-11             1            34  2016-10-04
83    360  2016-09-08  2016-10-11             1            34  2016-10-05
84    360  2016-09-08  2016-10-11             1            34  2016-10-06
85    360  2016-09-08  2016-10-11             1            34  2016-10-07
..    ...         ...         ...           ...           ...         ...
126   360  2016-11-16  2016-12-19             3            34  2016-11-20
127   360  2016-11-16  2016-12-19             3            34  2016-11-21
128   360  2016-11-16  2016-12-19             3            34  2016-11-22
129   360  2016-11-16  2016-12-19             3            34  2016-11-23
130   360  2016-11-16  2016-12-19             3            34  2016-11-24
131   360  2016-11-16  2016-12-19             3            34  2016-11-25
132   360  2016-11-16  2016-12-19             3            34  2016-11-26
133   360  2016-11-16  2016-12-19             3            34  2016-11-27
134   360  2016-11-16  2016-12-19             3            34  2016-11-28
135   360  2016-11-16  2016-12-19             3            34  2016-11-29
136   360  2016-11-16  2016-12-19             3            34  2016-11-30
137   360  2016-11-16  2016-12-19             3            34  2016-12-01
138   360  2016-11-16  2016-12-19             3            34  2016-12-02
139   360  2016-11-16  2016-12-19             3            34  2016-12-03
140   360  2016-11-16  2016-12-19             3            34  2016-12-04
141   360  2016-11-16  2016-12-19             3            34  2016-12-05
142   360  2016-11-16  2016-12-19             3            34  2016-12-06
143   360  2016-11-16  2016-12-19             3            34  2016-12-07
144   360  2016-11-16  2016-12-19             3            34  2016-12-08
145   360  2016-11-16  2016-12-19             3            34  2016-12-09
146   360  2016-11-16  2016-12-19             3            34  2016-12-10
147   360  2016-11-16  2016-12-19             3            34  2016-12-11
148   360  2016-11-16  2016-12-19             3            34  2016-12-12
149   360  2016-11-16  2016-12-19             3            34  2016-12-13
150   360  2016-11-16  2016-12-19             3            34  2016-12-14
151   360  2016-11-16  2016-12-19             3            34  2016-12-15
152   360  2016-11-16  2016-12-19             3            34  2016-12-16
153   360  2016-11-16  2016-12-19             3            34  2016-12-17
154   360  2016-11-16  2016-12-19             3            34  2016-12-18
155   360  2016-11-16  2016-12-19             3            34  2016-12-19

     cycle_day  skin_temperature         hr         br   st_norm   hr_norm  \
56           1         35.160000  49.382901  13.548148 -0.253210 -1.017281
57           2         33.990000  48.226595  13.886310 -1.997454 -1.206069
58           3         34.460000  46.629602  13.830592 -1.296775 -1.466806
59           4         33.090000  51.724209  14.211006 -3.339179 -0.635021
60           5         34.863000  49.416004  13.733557 -0.695980 -1.011876
61           6         35.170000  45.815645  13.990477 -0.238302 -1.599699
62           7         34.168101  46.147938  13.688630 -1.731939 -1.545446
63           8         34.429740  46.281750  13.746961 -1.341887 -1.523599
64           9         35.053577  46.002524  13.720900 -0.411867 -1.569188
65          10         35.014793  46.617354  13.607724 -0.469685 -1.468806
66          11         34.905749  47.037862  13.743206 -0.632250 -1.400150
67          12         34.597161  47.650098  14.044771 -1.092295 -1.300192
68          13         34.601502  47.983560  13.829067 -1.085823 -1.245748
69          14         34.618236  48.039885  13.773397 -1.060875 -1.236552
70          15         34.268681  48.847493  13.857305 -1.581994 -1.104696
71          16         34.290335  49.835165  13.602653 -1.549713 -0.943441
72          17         34.315301  49.985826  13.391771 -1.512493 -0.918843
73          18         34.566275  48.895751  13.185792 -1.138340 -1.096817
74          19         34.537164  47.937478  13.090640 -1.181738 -1.253272
75          20         34.426381  47.052304  13.081668 -1.346894 -1.397793
76          21         34.444153  46.625731  13.108741 -1.320399 -1.467438
77          22         34.443316  46.431232  13.215249 -1.321647 -1.499194
78          23         34.364682  46.421259  13.426164 -1.438875 -1.500822
79          24         34.541279  46.569788  13.541291 -1.175604 -1.476572
80          25         34.675817  46.618216  13.542815 -0.975033 -1.468665
81          26         34.710959  47.262335  13.638698 -0.922643 -1.363501
82          27         34.887857  48.111766  13.591530 -0.658923 -1.224817
83          28         34.943093  48.574711  13.495983 -0.576576 -1.149232
84          29         35.049119  49.374340  13.526500 -0.418513 -1.018679
85          30         35.146241  50.080986  13.529380 -0.273723 -0.903306
..         ...               ...        ...        ...       ...       ...
126          5         34.623276  48.792815  13.615528 -1.053361 -1.113623
127          6         34.649471  48.913808  13.706275 -1.014310 -1.093869
128          7         34.637518  48.600451  13.643687 -1.032129 -1.145030
129          8         34.571086  48.696371  13.670201 -1.131167 -1.129369
130          9         34.447425  48.982164  13.542232 -1.315521 -1.082708
131         10         34.414686  50.051886  13.487748 -1.364330 -0.908057
132         11         34.390747  50.466911  13.360577 -1.400018 -0.840297
133         12         34.380974  50.253491  13.243282 -1.414588 -0.875142
134         13         34.551959  50.754094  13.338009 -1.159682 -0.793409
135         14         34.596990  50.545000  13.217725 -1.092549 -0.827548
136         15         34.636800  50.656308  13.217370 -1.033200 -0.809375
137         16         34.662820  51.186997  13.156947 -0.994410 -0.722730
138         17         34.745519  51.155610  12.938865 -0.871121 -0.727855
139         18         34.696383  50.295239  12.881180 -0.944373 -0.868326
140         19         34.737576  50.489856  12.963495 -0.882963 -0.836551
141         20         34.821433  50.795243  12.985313 -0.757949 -0.786691
142         21         34.877490  51.010950  13.079594 -0.674377 -0.751473
143         22         34.788867  51.649035  12.958679 -0.806498 -0.647294
144         23         34.898611  52.822751  13.176056 -0.642890 -0.455664
145         24         34.856193  53.746174  13.255481 -0.706127 -0.304899
146         25         34.947866  55.369157  13.507469 -0.569461 -0.039918
147         26         35.019720  55.127015  13.703411 -0.462340 -0.079452
148         27         35.168282  54.993972  13.909966 -0.240863 -0.101173
149         28         35.284782  54.650512  14.032403 -0.067185 -0.157249
150         29         35.377374  55.796689  14.079517  0.070853  0.029884
151         30         35.385379  56.498878  14.132796  0.082786  0.144529
152         31         35.247343  57.228892  14.107815 -0.122998  0.263717
153         32         35.240934  57.730551  13.757525 -0.132554  0.345622
154         33         35.292819  58.670814  13.678449 -0.055203  0.499137
155         34         35.245985  58.323020  13.629667 -0.125023  0.442353

      br_norm
56  -1.093272
57  -0.914900
58  -0.944290
59  -0.743632
60  -0.995473
61  -0.859955
62  -1.019171
63  -0.988403
64  -1.002149
65  -1.061847
66  -0.990384
67  -0.831317
68  -0.945094
69  -0.974459
70  -0.930200
71  -1.064522
72  -1.175756
73  -1.284404
74  -1.334594
75  -1.339327
76  -1.325046
77  -1.268866
78  -1.157615
79  -1.096888
80  -1.096085
81  -1.045509
82  -1.070389
83  -1.120787
84  -1.104690
85  -1.103171
..        ...
126 -1.057730
127 -1.009864
128 -1.042877
129 -1.028892
130 -1.096392
131 -1.125131
132 -1.192210
133 -1.254080
134 -1.204114
135 -1.267561
136 -1.267748
137 -1.299619
138 -1.414651
139 -1.445079
140 -1.401660
141 -1.390151
142 -1.340421
143 -1.404200
144 -1.289540
145 -1.247645
146 -1.114728
147 -1.011374
148 -0.902422
149 -0.837840
150 -0.812989
151 -0.784886
152 -0.798063
153 -0.982831
154 -1.024541
155 -1.050272

[68 rows x 13 columns]

## Feature engineering

In [138]:
br_max = gold.groupby(["user","cycle_number"]).describe()["br"]["max"]
br_min = gold.groupby(["user","cycle_number"]).describe()["br"]["min"]

In [148]:
features = br_max

features = features.reset_index()
features = pd.DataFrame(features)
features["br_max"] = features["max"]
features = features.drop(["max"], axis = 1)
features["br_min"] = br_min.values
features

      user  cycle_number     br_max     br_min
0      360             1  14.211006  13.081668
1      360             3  14.132796  12.881180
2      406             5  15.032636  14.642394
3      406             6  15.306203  14.490755
4      406             8  15.281033  14.390497
5      406            11  15.688719  14.407575
6      406            12  15.500160  14.523382
7      406            13  15.497435  14.457574
8      407             3  14.940587  13.879623
9      407             4  15.085202  13.892877
10     407             5  14.927656  14.140261
11     407             7  14.789272  13.835064
12     407            12  14.935943  14.280289
13     407            15  14.769012  12.954020
14     411             5  19.157592  17.947515
15     411             6  19.085116  18.135446
16     411             8  18.977540  17.971625
17     411             9  19.045039  17.862802
18     411            10  19.326127  17.539364
19     417             1  14.877869  13.331421
20     417             2  14.768949  13.895003
21     417             3  14.773233  14.048560
22     417             5  14.540296  13.811090
23     417             6  14.877699  13.730308
24     418             1  15.527190  14.140394
25     418             2  15.082235  14.342184
26     418             3  14.964704  14.049271
27     418             6  15.431535  14.360088
28     423             1  16.771000  14.526214
29     423             2  15.850044  14.697159
..     ...           ...        ...        ...
145   5533             2  14.955504  10.585265
146   5539             1  17.523103  15.125911
147   5539             3  18.233131  15.186822
148   5547             2  15.217114  14.049676
149   5547             3  15.115574  14.024762
150   5556             2  21.456445  17.642237
151   5559             1  15.228021  13.854528
152   5559             2  15.127855  13.939401
153   5559             4  14.851663  13.696042
154   5560             2  14.710335  13.898048
155   5792             2  13.588465  12.264502
156   7959             4  15.035945  14.096634
157   8976             1  20.315970  18.125039
158  13849             3  15.936424  14.585559
159  14026             2  14.882061  13.722399
160  14027             1  13.765546  12.661743
161  14027             2  13.722260  12.956819
162  14027             3  13.673686  12.295611
163  14032             1  18.577133  16.991755
164  14032             2  17.285287  15.452536
165  14057             2  20.167164  17.915450
166  14059             1  18.608973  15.419071
167  14059             2  17.084119  15.628587
168  14059             3  17.720561  15.144523
169  15103             2  17.818075  15.933171
170  15116             1  14.824757  13.028648
171  15556             1  12.632620  10.808339
172  15568             2  18.809688  17.000537
173  17379             1  17.613056  15.614340
174  19278             1  12.762206  11.580769

[175 rows x 4 columns]

In [149]:
from sklearn import cluster
hclust = cluster.AgglomerativeClustering(n_clusters=4, affinity="euclidean", linkage="ward")

In [152]:
hclust = hclust.fit(features[["br_min", "br_max"]])
hclust.

#### Example
http://scikit-learn.org/stable/auto_examples/cluster/plot_digits_linkage.html#sphx-glr-auto-examples-cluster-plot-digits-linkage-py

In [158]:
import numpy as np
from scipy import ndimage
from matplotlib import pyplot as plt

from sklearn import manifold, datasets

def plot_clustering(X_red, X, labels, title=None):
    x_min, x_max = np.min(X_red, axis=0), np.max(X_red, axis=0)
    X_red = (X_red - x_min) / (x_max - x_min)

    plt.figure(figsize=(6, 4))
    for i in range(X_red.shape[0]):
        plt.text(X_red[i, 0], X_red[i, 1], str(y[i]),
                 color=plt.cm.spectral(labels[i] / 10.),
                 fontdict={'weight': 'bold', 'size': 9})

    plt.xticks([])
    plt.yticks([])
    if title is not None:
        plt.title(title, size=17)
    plt.axis('off')
    plt.tight_layout()

#----------------------------------------------------------------------
# 2D embedding of the digits dataset
print("Computing embedding")
X_red = manifold.SpectralEmbedding(n_components=2).fit_transform(features)
y = features
print("Done.")

from sklearn.cluster import AgglomerativeClustering

for linkage in ('ward', 'average', 'complete'):
    clustering = AgglomerativeClustering(linkage=linkage, n_clusters=10)
    clustering.fit(X_red)
    plot_clustering(X_red, features, clustering.labels_, "%s linkage" % linkage)


plt.show()

Computing embedding
Done.

/anaconda3/lib/python3.6/site-packages/sklearn/manifold/spectral_embedding_.py:234: UserWarning: Graph is not fully connected, spectral embedding may not work as expected.
  warnings.warn("Graph is not fully connected, spectral embedding"

KeyError: 0